<div id="extraContainer" class="extra-container">
    <div class="toc-wrapper">
        {{- partial "google-search.html" . -}}

        {{ if and (not (.Params.disableToC) ) (.IsPage) }}
        <div class="toc">
            {{- partialCached "toc.html" . .RelPermalink -}}
        </div>
        {{ end }}
    </div>
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility invisible" href="#top" aria-label="返回顶部">
            {{ partial "functions/icon.html" (dict "name" "keyboard_arrow_up" "class" "pagination-action-icon") }}
        </a>
        {{ if and (.Page.IsNode) (.Page.Paginator) (not (.Data.Terms)) }}
        {{ if gt .Paginator.TotalPages 1 }}

        <a class="pagination-action" aria-label="上一页" {{ if .Paginator.HasPrev }} href="{{.Paginator.Prev.URL}}">
            {{ else }}
            style="visibility:hidden">
            {{ end }}
            {{ partial "functions/icon.html" (dict "name" "chevron_left" "class" "pagination-action-icon") }}
        </a>

        <div class="pagination-indicator">
            <span style="text-align: center; line-height: 1.2em;">
                {{.Paginator.PageNumber}}<br>
                <div style="display: inline-block; transform: rotate(-28deg); margin: 2px 0;">-</div><br>{{.Paginator.TotalPages}}
            </span>
        </div>


        <a class="pagination-action" aria-label="下一页" {{ if .Paginator.HasNext }} href="{{.Paginator.Next.URL}}">
            {{ else }}
            style="visibility:hidden">
            {{ end }}
            {{ partial "functions/icon.html" (dict "name" "chevron_right" "class" "pagination-action-icon") }}
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>
