<div class="single-column-drawer-container" id="drawer">
    <div class="drawer-content">
        <div class="drawer-menu">
            {{- partial "google-search.html" . -}}
            {{ $current := .RelPermalink | absLangURL }}
            {{ range .Site.Menus.main }}
                {{$actived := "false"}}
                <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
                {{if hasPrefix  $current (.URL|absLangURL)}}
                    {{$actived = "active"}}
                {{end}}
                {{ if .HasChildren }}
                <div class="a-block drawer-menu-item {{$actived}}" role="button" tabindex="0" onclick="toggleDrawerSubMenu()" onkeydown="if(event.key==='Enter'||event.key===' ')toggleDrawerSubMenu()" aria-expanded="false">
                    {{ .Name }}
                    <div class="nav-link-subitem drawer-submenu" style="display: none;">
                        {{ range .Children }}
                        <li><a href="{{ .URL }}"> {{ .Name }}</a></li>
                    {{ end }}
                    </div>
                </div>
                {{ else }}
                <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
                <a class="a-block drawer-menu-item {{ $actived }}" href="{{ .URL }}">
                    {{ .Name }}
                </a>
                {{ end }}
            {{ end }}
            {{ if and (not (.Site.Params.disableToC) ) (.IsPage) }}
            <div class="toc">
                {{- partial "toc.html" . -}}
            </div>
            {{ end }}
        </div>
    </div>
</div>
<div id="drawer-overlay" class="single-column-drawer-overlay" style="display: none;" role="button" tabindex="-1" aria-label="关闭菜单" onclick="toggleDrawer()"></div>
<nav id="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div id="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" aria-label="打开菜单" aria-expanded="false" v-on:click="toggleDrawer" onclick="if(typeof toggleDrawer === 'function') toggleDrawer()">
            <i class="material-icons" aria-hidden="true">
                menu
            </i>
        </button>
        <a id="navTitle" class="navbar-brand" href="{{ "" | absLangURL }}">
            {{.Site.Title}}
        </a>
    </div>
</nav>
<div class="single-column-header-container" id="pageHead">
    <a href="{{ "" | absLangURL }}">
        <div class="single-column-header-title">{{.Site.Title}}</div>
        {{ with .Site.Params.subtitle }}
        <div class="single-column-header-subtitle">{{.}}</div>
        {{ end }}

    </a>
</div>
