<div class="post-item-meta">
    {{ i18n "format_date" .PublishDate }}
    &emsp;
    <!-- Reading Time Start -->
    {{ if .Site.Params.enableReadingTime }}
    <i class="material-icons" style="font-size:10px">schedule</i>
    {{ $wordCount := strings.RuneCount (plainify .Content) }}
    {{ $readTime := div $wordCount 400 }}
    {{ if lt $readTime 1 }}{{ $readTime = 1 }}{{ end }}
    {{ $readTime }} min
    {{ end }}
    <!-- Reading Time End -->
    &emsp;
    {{ if .Draft }}
    <span class="draft-label">{{ i18n "draft" }}</span>
    {{ end }}
</div>
