<div class="post-item-meta">
    {{ if .Params.pin }}
    <span class="pin-badge">📌 置顶</span>
    &emsp;
    {{ end }}
    {{ i18n "format_date" .PublishDate }}
    &emsp;
    <!-- Reading Time Start -->
    {{ if .Site.Params.enableReadingTime }}
    {{ partial "functions/icon.html" (dict "name" "schedule" "style" "font-size:12px") }}
    {{ $wordCount := strings.RuneCount .Plain }}
    {{ $readTime := div $wordCount 400 }}
    {{ if lt $readTime 1 }}{{ $readTime = 1 }}{{ end }}
    {{ $readTime }} min
    {{ end }}
    <!-- Reading Time End -->
    &emsp;
    {{ if .Draft }}
    <span class="draft-label">{{ i18n "draft" }}</span>
    {{ end }}
</div>
